<li class="student-card" data-id="{{id}}">
  <p><strong>Ім’я:</strong> {{firstName}}</p>
  <p><strong>Прізвище:</strong> {{lastName}}</p>
  <p><strong>Вік:</strong> {{age}}</p>
  <p><strong>Курс:</strong> {{course}}</p>
  <p><strong>Факультет:</strong> {{faculty}}</p>
  <button class="edit-btn">Edit</button>
  <button class="delete-btn">Delete</button>
</li>
